@using Lanthanum.Web.Domain
@using System.Collections
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<Lanthanum.Web.Models.ArticleViewModel>
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArticlesList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/articles_list.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 main-form-container">
                <div class="preview-search-container justify-content-between my-3">
                    <a class="text-decoration-none preview-wrapper" asp-action="Check">
                        <img src="~/images/preview_eye.png" alt="preview_eye.png" class="preview-eye-img" />
                        <p class="preview-text ml-1 mb-0">Preview</p>
                    </a>
                    <div class="search ml-auto">
                        <img src="~/images/search.png" alt="search.png" class="search-img" />
                        <input type="text" name="" placeholder="Type here to search" />
                    </div>
                </div>
                <div class="sort-dropdown-container">
                    <div class="dropdown sort-dropdown">
                        <button class="dropdown-toggle btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (!string.IsNullOrEmpty((string)ViewData["FilterConference"]))
                            {
                                <text>@ViewData["FilterConference"]</text>
                            }
                            else
                            {
                                <text>All Conferences</text>
                            }

                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item" asp-action="ArticlesList"
                                   asp-route-filterConference=""
                                   asp-route-filterTeam="@ViewData["FilterTeam"]"
                                   asp-route-filterStatus="@ViewData["FilterStatus"]">
                                    All Conferences
                                </a>
                            </li>
                            @foreach (string conference in (IEnumerable<string>)ViewData["Conferences"])
                            {
                                <li>
                                    <a class="dropdown-item" asp-action="ArticlesList"
                                       asp-route-filterConference="@conference"
                                       asp-route-filterTeam="@ViewData["FilterTeam"]"
                                       asp-route-filterStatus="@ViewData["FilterStatus"]">
                                        @conference
                                </a>
                            </li>
                        }
                        </ul>
                    </div>
                    <div class="dropdown sort-dropdown">
                        <button class="dropdown-toggle btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (!string.IsNullOrEmpty((string)ViewData["FilterTeam"]))
                            {
                                <text>@ViewData["FilterTeam"]</text>
                            }
                            else
                            {
                                <text>All Teams</text>
                            }
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item" asp-action="ArticlesList"
                                   asp-route-filterTeam=""
                                   asp-route-filterConference="@ViewData["FilterConference"]"
                                   asp-route-filterStatus="@ViewData["FilterStatus"]">
                                    All Teams
                                </a>
                            </li>
                            @foreach (string teamName in (IEnumerable<string>)ViewData["TeamNames"])
                            {
                                <li>
                                    <a class="dropdown-item" asp-action="ArticlesList"
                                       asp-route-filterTeam="@teamName"
                                       asp-route-filterConference="@ViewData["FilterConference"]"
                                       asp-route-filterStatus="@ViewData["FilterStatus"]">
                                        @teamName
                                </a>
                            </li>
                        }
                        </ul>
                    </div>
                    <div class="dropdown sort-dropdown">
                        <button class="dropdown-toggle btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (!string.IsNullOrEmpty((string)ViewData["FilterStatus"]))
                            {
                                <text>@ViewData["FilterStatus"]</text>
                            }
                            else
                            {
                                <text>All</text>
                            }
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item" asp-action="ArticlesList"
                                   asp-route-filterStatus=""
                                   asp-route-filterConference="@ViewData["FilterConference"]"
                                   asp-route-filterTeam="@ViewData["FilterTeam"]">
                                    All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="ArticlesList"
                                   asp-route-filterStatus="Published"
                                   asp-route-filterConference="@ViewData["FilterConference"]"
                                   asp-route-filterTeam="@ViewData["FilterTeam"]">
                                    Published
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="ArticlesList"
                                   asp-route-filterStatus="Unpublished"
                                   asp-route-filterConference="@ViewData["FilterConference"]"
                                   asp-route-filterTeam="@ViewData["FilterTeam"]">
                                    Unpublished
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="articles-preview-container mt-3">
                    @foreach (var mod in Model)
                    {
                        <div class="article-preview my-2">
                            <a href="#" class="main-link"></a>
                            <img src="~/images/mock_article_img.png" alt="sample_img" />
                            <div class="text-container">
                                <div class="dropdown">
                                    <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h fa-lg "></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <form method="post" asp-controller="Admin" asp-action="DeleteArticle" asp-route-id="@mod.Id" data-ajax="true" data-ajax-complete="deleteItem(this)">
                                                <button class="dropdown-item" type="submit">Delete</button>
                                            </form>
                                        </li>
                                        <li>
                                            @if (@mod.ArticleStatus == ArticleStatus.Published)
                                            {
                                                <form method="post" asp-controller="Admin" asp-action="ChangeArticleStatus" asp-route-id="@mod.Id" data-ajax="true" data-ajax-complete="unpublishItem(this)">
                                                    <button class="dropdown-item">Unpublish</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post" asp-controller="Admin" asp-action="ChangeArticleStatus" asp-route-id="@mod.Id" data-ajax="true" data-ajax-complete="publishItem(this)">
                                                    <button class="dropdown-item">Publish</button>
                                                </form>
                                            }
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                Move &raquo;
                                            </a>
                                            <ul class="dropdown-menu dropdown-submenu">
                                                <li>
                                                    <a class="dropdown-item" href="#">Submenu item 1</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Submenu item 2</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Submenu item 4</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Submenu item 5</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                                <div class="headline">@mod.Headline</div>
                                <div class="article-brief-start my-2">@mod.MainText</div>
                                <div class="location-status-container d-flex justify-content-between">
                                    <span class="location">@String.Format("{0} / {1}", mod.TeamConference, mod.TeamLocation)</span>
                                    @if (mod.ArticleStatus == ArticleStatus.Published)
                                    {
                                        <div class="status">
                                            <img class="circle" src="~/images/green_circle.png" alt="green_circle" />
                                            <p class="d-block m-0">@mod.ArticleStatus</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="status">
                                            <img class="circle" src="~/images/yellow_circle.png" alt="yellow_circle" />
                                            <p class="d-block m-0">@mod.ArticleStatus</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <script src="~/js/articles-list.js"></script>
            </div>
        </div>
    </div>
</body>
</html>
