@using Lanthanum.Web.Domain
@model IEnumerable<Lanthanum.Web.Models.ArticleViewModel>
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArticlesList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/articles_list.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 main-form-container">
                <div class="preview-search-container justify-content-between my-3">
                    <a class="text-decoration-none preview-wrapper" asp-action="Check">
                        <img src="~/images/preview_eye.png" alt="preview_eye.png" class="preview-eye-img" />
                        <p class="preview-text ml-1 mb-0">Preview</p>
                    </a>
                    <div class="search ml-auto">
                        <img src="~/images/search.png" alt="search.png" class="search-img" />
                        <form method="get" asp-action="ArticlesList">
                            <input type="text" placeholder="Type here to search" name="searchString" value="@TempData.Peek("SearchString")"/>
                        </form>
                    </div>
                </div>
                <div class="sort-dropdown-container">
                    <div class="dropdown sort-dropdown">
                        <button class="dropdown-toggle btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (!string.IsNullOrEmpty((string)TempData.Peek("FilterConference")))
                            {
                                <text>@TempData.Peek("FilterConference")</text>
                            }
                            else
                            {
                                <text>All Conferences</text>
                            }

                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" asp-action="ArticlesList" asp-route-filterConference="All" asp-route-filterTeam="@TempData.Peek("FilterTeam")" asp-route-filterStatus="@TempData.Peek("FilterStatus")" asp-route-searchString="@TempData.Peek("SearchString")">All Conferences</a></li>
                            @foreach (string conference in (IEnumerable<string>) ViewData["Conferences"])
                            {
                                <li><a class="dropdown-item" asp-action="ArticlesList" asp-route-filterConference="@conference" asp-route-filterTeam="@TempData.Peek("FilterTeam")" asp-route-filterStatus="@TempData.Peek("FilterStatus")" asp-route-searchString="@TempData.Peek("SearchString")">@conference</a></li>
                            }
                        </ul>
                    </div>
                    <div class="dropdown sort-dropdown">
                        <button class="dropdown-toggle btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (!string.IsNullOrEmpty((string)TempData.Peek("FilterTeam")))
                            {
                                <text>@TempData.Peek("FilterTeam")</text>
                            }
                            else
                            {
                                <text>All Teams</text>
                            }
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" 
                                   asp-action="ArticlesList" 
                                   asp-route-filterTeam="All" 
                                   asp-route-filterConference="@TempData.Peek("FilterConference")" 
                                   asp-route-filterStatus="@TempData.Peek("FilterStatus")"
                                   asp-route-searchString="@TempData.Peek("SearchString")">All Teams</a></li>
                            @foreach (string teamName in (IEnumerable<string>)ViewData["TeamNames"])
                            {
                                <li><a class="dropdown-item" 
                                       asp-action="ArticlesList" 
                                       asp-route-filterTeam="@teamName" 
                                       asp-route-filterConference="@TempData.Peek("FilterConference")" 
                                       asp-route-filterStatus="@TempData.Peek("FilterStatus")"
                                       asp-route-searchString="@TempData.Peek("SearchString")">@teamName</a></li>
                            }
                        </ul>
                    </div>
                    <div class="dropdown sort-dropdown">
                        <button class="dropdown-toggle btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (!string.IsNullOrEmpty((string)TempData.Peek("FilterStatus")))
                            {
                                <text>@TempData.Peek("FilterStatus")</text>
                            }
                            else
                            {
                                <text>All</text>
                            }
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item" 
                                   asp-action="ArticlesList" 
                                   asp-route-filterStatus="All" 
                                   asp-route-filterConference="@TempData.Peek("FilterConference")" 
                                   asp-route-filterTeam="@TempData.Peek("FilterTeam")"
                                   asp-route-searchString="@TempData.Peek("SearchString")">All
                                </a>
                                </li>
                            <li>
                                <a class="dropdown-item" 
                                   asp-action="ArticlesList" 
                                   asp-route-filterStatus="Published" 
                                   asp-route-filterConference="@TempData.Peek("FilterConference")" 
                                   asp-route-filterTeam="@TempData.Peek("FilterTeam")"
                                   asp-route-searchString="@TempData.Peek("SearchString")">Published
                                </a>
                                </li>
                            <li>
                                <a class="dropdown-item" 
                                   asp-action="ArticlesList" 
                                   asp-route-filterStatus="Unpublished" 
                                   asp-route-filterConference="@TempData.Peek("FilterConference")" 
                                   asp-route-filterTeam="@TempData.Peek("FilterTeam")"
                                   asp-route-searchString="@TempData.Peek("SearchString")">Unpublished
                                </a>
                                </li>
                        </ul>
                    </div>
                </div>
                <div class="articles-preview-container mt-3">
                    @*<article-appender article-view-models="Model"></article-appender>*@ @*To Delete this line*@
                    @foreach (var mod in Model)
                    {
                        <div class="article-preview my-2">
                            <a href="#" class="main-link"></a>
                            <img src="~/images/mock_article_img.png" alt="sample_img" />
                            <div class="text-container">
                                <div class="dropdown">
                                    <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h fa-lg "></i>
                                    </a>
                                    <form method="post">
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li>
                                                <button class="dropdown-item" asp-controller="Admin" asp-action="DeleteArticle" asp-route-id="@mod.Id">Delete</button>
                                            </li>
                                            <li>
                                                @if (@mod.ArticleStatus == ArticleStatus.Published)
                                                {
                                                    <button class="dropdown-item" asp-controller="Admin" asp-action="ChangeArticleStatus" asp-route-id="@mod.Id">Unpublish</button>
                                                }
                                                else
                                                {
                                                    <button class="dropdown-item" asp-controller="Admin" asp-action="ChangeArticleStatus" asp-route-id="@mod.Id">Publish</button>
                                                }
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    Move &raquo;
                                                </a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    @foreach (var kindOfSport in (Dictionary<int,string>) ViewData["KindsOfSport"])
                                                    {
                                                        if (kindOfSport.Value != mod.KindOfSportName)
                                                        {
                                                            <li>
                                                                <button class="dropdown-item" 
                                                                   asp-action="ChangeArticleKindOfSport" 
                                                                   asp-route-articleId="@mod.Id" 
                                                                   asp-route-kindOfSportId="@kindOfSport.Key">@kindOfSport.Value
                                                                </button>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                                <div class="headline">@mod.Headline</div>
                                <div class="article-brief-start my-2">@mod.MainText</div>
                                <div class="location-status-container d-flex justify-content-between">
                                    <span class="location">@String.Format("{0} / {1}", mod.TeamConference, mod.TeamLocation)</span>
                                    @if (mod.ArticleStatus == ArticleStatus.Published)
                                    {
                                        <div class="status">
                                            <img class="circle" src="~/images/green_circle.png" alt="green_circle" />
                                            <p class="d-block m-0">@mod.ArticleStatus</p>
                                        </div>
                                    }

                                    else
                                    {
                                        <div class="status">
                                            <img class="circle" src="~/images/yellow_circle.png" alt="yellow_circle" />
                                            <p class="d-block m-0">@mod.ArticleStatus</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
                <script>
                    search = document.querySelector(".search");
                    search_img = document.querySelector(".search-img");

                    search_img.onclick = function () {
                        search.classList.toggle('active');
                    }
                </script>
                <script>
                    var box = document.getElementById('.dropdown');
                    document.querySelectorAll("[data-link]").forEach(el => {
                        el.addEventListener("click", () => window.location.href = "hello");
                    });

                </script>
            </div>
        </div>
    </div>
</body>
</html>
