@model SignUpViewModel

@{
    Layout = "_AuthenticationLayout";
}

@section AuthenticationHeaderAttr
{
    <p class="nav-item header-question ml-md-5">Already have an account?</p>
    <a asp-controller = "Authentication" asp-action = "LogIn" class="nav-item header-ref ml-sm-5">Log In</a>
}

<div class="text-left mb-4 px-3">
    <h4>Create Account</h4>
</div>
<div class="px-3">
    <div class="input-container">
        <div class="social-network-container">
            <form method="post" class="d-flex" asp-controller="Authentication" asp-action="ExternalLogin" asp-route-returnUrl="@Model?.ReturnUrl" asp-route-viewName="Signup">
                <button type="submit" class="google-img" name="provider" value="Google"></button>
                <button type="submit" class="fb-img" name="provider" value="Facebook"></button>
            </form>
        </div>
        <form method="post" asp-controller="Authentication" asp-action="SignUp">
            <div class="text-left plain-line mb-3">Or use your email for registration:</div>
            <div>@Html.ValidationSummary(false)</div>
            <div class="fname-lname-container">
                <div class="form-input name-item mr-2">
                    <div class="plain-line mb-1">FIRST NAME</div>
                    @Html.TextBoxFor(m => m.FirstName, new { placeholder = "John" })
                </div>
                <div class="form-input name-item ml-2">
                    <div class="plain-line mb-1">LAST NAME</div>
                    @Html.TextBoxFor(m => m.LastName, new { placeholder = "Doe" })
                </div>
            </div>

            <div class="plain-line">
                <div class="float-left">
                    EMAIL
                </div>
                <br />
            </div>
            <div class="form-input">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "johndoe@gmail.com" })
            </div>

            <div class="plain-line">
                <div class="float-left">
                    PASSWORD
                </div>
                <div class="text-right">
                    <a href="reset.html" class="forget-link">Forgot password?</a>
                </div>
            </div>
            <div class="form-input">
                @Html.TextBoxFor(m => m.Password, new { placeholder = "8+ characters(letters and numbers)", type = "password" })
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-block">SIGN UP</button>
            </div>
        </form>
    </div>
</div>
