@using Lanthanum.Web.Domain
@inject FooterService footerTabItems

@using Lanthanum.Web.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lanthanum_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

    <header id="mainNav">
        <div class="container">
            <div id="logo">
                <div id="logo_text">
                    Sports Hub
                </div>
            </div>
            <div class="col">
                @RenderSection("elements_in_header", required: true)
            </div>
        </div>
    </header>

    <main>
        <div class="row">
            <div style="width: 253px;">
                <nav>
                    <ul style="margin-left: 30px; margin-top: 50px;" data-tag="channelList">
                        <li onclick="switchChannel(this)" class="selected menu">@HomeController.Categories[0]</li>
                        @foreach (var item in HomeController.Categories.Skip(1))
                        {
                            <li onclick="switchChannel(this)">@item</li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="col-sm">
                @RenderBody()
            </div>
        </div>
    </main>

    <script src="~/js/site.js"></script>
</body>
</html>