@using Lanthanum.Web.Domain
@using Lanthanum.Web.Services

@inject IFooterService footerItemsForConfiguration

@{
    ViewData["Title"] = "Footer Configuration";
    var CurrentTab = ViewBag.currentTab;
    var ItemName = ViewBag.itemName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="f17()">
    <div class="container">
        <div class="up">
            <div class="row justify-content-between">
                <h2 class="footer-configuration-header">Footer</h2>
                <button type="button" class="footer-configuration-button btn btn-danger" data-toggle="modal" data-target="#exampleModal">+ New footer page</button>
            </div>
            <div class="row">
                <a class="footer-configuration-active-tab-text p-4" asp-area="" asp-controller="Footer" asp-action="FooterConfiguration" asp-route-currentTab="CompanyInfo"><u>Company Info</u></a>
                <a class="footer-configuration-unactive-tab-text p-4" asp-area="" asp-controller="Footer" asp-action="FooterConfiguration" asp-route-currentTab="Contributors">Contributors</a>
                <a class="footer-configuration-unactive-tab-text p-4" asp-area="" asp-controller="Footer" asp-action="FooterConfiguration" asp-route-currentTab="Newsletter">Newsletter</a>
            </div>
        </div>
        <div class="modal-body row">
            <div class="col-md-6">
                <table class="table table-bordered-outside">
                    <thead class="thead-light footer-configuration-table-text-bold">
                        <tr>
                            <th scope="col">Footer menu names</th>
                            <th scope="col">Hide/Show</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="footer-configuration-table-text">
                        <tr>
                            <td scope="row" onclick="location.href='@Url.Action("FooterConfiguration", "Footer", new { itemName = "About Sports Hub", currentTab = @CurrentTab })'">About Sports Hub</td>
                            <td class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input danger" checked=@footerItemsForConfiguration.GetSingleItem("About Sports Hub").IsDisplaying id="About Sports Hub" +"Switch" onchange="location.href='@Url.Action("HideUnhideItem", "Footer", new { itemName = "About Sports Hub", currentTab = @CurrentTab })'">
                                @if (@footerItemsForConfiguration.GetSingleItem("About Sports Hub").IsDisplaying == true)
                                {
                                    <label class="custom-control-label" for="About Sports Hub" +"Switch">Show</label>
                                }
                                else
                                {
                                    <label class="custom-control-label" for="About Sports Hub" +"Switch">Hide</label>
                                }
                            </td>
                            <td></td>
                        </tr>
                        @foreach (FooterItem footerItemForConfiguration in footerItemsForConfiguration.GetAllItems())
                        {
                            @if (@footerItemForConfiguration.Category == CurrentTab && @footerItemForConfiguration.Name != "About Sports Hub" && @footerItemForConfiguration.Name != "Contact Us" && footerItemForConfiguration.Name != footerItemForConfiguration.Category)
                            {
                                <tr>
                                    <td scope="row" onclick="location.href='@Url.Action("FooterConfiguration", "Footer", new { itemName = @footerItemForConfiguration.Name, currentTab = @CurrentTab })'">@footerItemForConfiguration.Name</td>
                                    <td class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" checked=@footerItemForConfiguration.IsDisplaying id=@footerItemForConfiguration.Name +"Switch" onchange="location.href='@Url.Action("HideUnhideItem", "Footer", new { itemName = @footerItemForConfiguration.Name, currentTab = @CurrentTab })'">
                                        @if (@footerItemForConfiguration.IsDisplaying == true)
                                        {
                                            <label class="custom-control-label" for=@footerItemForConfiguration.Name +"Switch">Show</label>
                                        }
                                        else
                                        {
                                            <label class="custom-control-label" for=@footerItemForConfiguration.Name +"Switch">Hide</label>
                                        }
                                    </td>
                                    <td><a asp-area="" asp-controller="Footer" asp-action="RemoveItem" asp-route-itemName=@footerItemForConfiguration.Name asp-route-currentTab=@CurrentTab><img src="/content/delete-icon.png"></a></td>
                                </tr>
                            }
                        }
                        <tr>
                            <td scope="row" onclick="location.href='@Url.Action("FooterConfiguration", "Footer", new { itemName = "Contact Us", currentTab = @CurrentTab })'">Contact Us</td>
                            <td class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" checked=@footerItemsForConfiguration.GetSingleItem("Contact Us").IsDisplaying id="Contact Us" +"Switch" onchange="location.href='@Url.Action("HideUnhideItem", "Footer", new { itemName = "Contact Us", currentTab = @CurrentTab })'">
                                @if (@footerItemsForConfiguration.GetSingleItem("Contact Us").IsDisplaying == true)
                                {
                                    <label class="custom-control-label" for="Contact Us" +"Switch">Show</label>
                                }
                                else
                                {
                                    <label class="custom-control-label" for="Contact Us" +"Switch">Hide</label>
                                }
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="custom-control custom-switch mx-2 mt-1 mb-4">
                    <input type="checkbox" class="custom-control-input" checked=@footerItemsForConfiguration.GetSingleItem("CompanyInfo").IsDisplaying id="Company InfoSwitch" onchange="location.href='@Url.Action("HideUnhideAllItemsInCategory", "Footer", new { currentTab = @CurrentTab })'">
                    <label class="custom-control-label p-2 footer-configuration-table-text" for="Company InfoSwitch">Show section</label>
                </div>
                <table class="table table-bordered-outside">
                    <thead class="thead-light footer-configuration-table-text-bold">
                        <tr>
                            <th scope="col">Privacy and terms</th>
                        </tr>
                    </thead>
                    <tbody class="footer-configuration-table-text">
                        <tr>
                            <td scope="row" onclick="location.href='@Url.Action("FooterConfiguration", "Footer", new { itemName = "Privacy policy", currentTab = @CurrentTab })'">Privacy policy</td>
                        </tr>
                        <tr>
                            <td scope="row" onclick="location.href='@Url.Action("FooterConfiguration", "Footer", new { itemName = "Terms and conditions", currentTab = @CurrentTab })'">Terms and conditions</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                @if (@ItemName == "Contact Us")
                {
                    @using (Html.BeginForm("UpdateContactUs", "Footer", FormMethod.Post))
                    {
                        string[] words = footerItemsForConfiguration.GetSingleItem(@ItemName).Content.Split(',');
                        <div class="bg-light p-4">
                            <p class="footer-configuration-table-text-bold">@ItemName</p>
                            <div class="form-group">
                                <label for="input-name" class="footer-configuration-label" name="ra" id="random2">Address</label>
                                <input type="text" class="form-control footer-configuration-input" placeholder="Name your footer page" value="@words[0]" name="addressForUpdate" id="addressForUpdate" />
                                <label for="input-name" class="footer-configuration-label" name="ra" id="random2">Tel.</label>
                                <input type="text" class="form-control footer-configuration-input" placeholder="Name your footer page" value="@words[1]" name="telForUpdate" id="telForUpdate" />
                                <label for="input-name" class="footer-configuration-label" name="ra" id="random2">E-mail</label>
                                <input type="text" class="form-control footer-configuration-input" placeholder="Name your footer page" value="@words[2]" name="emailForUpdate" id="emailForUpdate" />
                            </div>

                            <div class="row justify-content-between align-items-center p-3">

                                <p class="col footer-configuration-required align-self-center">All fields are required<sup>*</sup></p>
                                <div class="col row align-items-center">
                                    <a class="col footer-configuration-cancel-link" asp-area="" asp-controller="Footer" asp-action="FooterConfiguration" asp-route-itemName=@ItemName asp-route-currentTab=@CurrentTab>Cancel</a>
                                    <button type="submit" class="btn btn-danger col footer-configuration-button" value="Save">Save</button>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    @using (Html.BeginForm("UpdateItem", "Footer", FormMethod.Post))
                    {
                        <div class="bg-light p-4">
                            <p class="footer-configuration-table-text-bold">@ItemName</p>
                            <div class="form-group">
                                <label for="input-name" class="footer-configuration-label" name="ra" id="random2">Headline</label>
                                @if (@ItemName != "About Sports Hub" && @ItemName != "Privacy policy" && @ItemName != "Terms and conditions")
                                {
                                    <input type="text" class="form-control footer-configuration-input" placeholder="Name your footer page" name="nameChangeForUpdate" id="nameChangeForUpdate" value="@ItemName" />
                                }
                                @if (@ItemName == "About Sports Hub" || @ItemName == "Privacy policy" || @ItemName == "Terms and conditions")
                                {
                                    <input disabled type="text" class="form-control footer-configuration-input" placeholder="Name your footer page" name="nameChangeForUpdateForDislay" id="nameChangeForUpdateForDislay" value="@ItemName" />
                                    <input hidden type="text" class="form-control" placeholder="Name your footer page" name="nameChangeForUpdate" id="nameChangeForUpdate" value="@ItemName" />
                                }
                                <input type="hidden" class="form-control contact-us-input" placeholder="Name your footer page" name="itemNameForUpdate" id="itemNameForUpdate" value="@ItemName" />
                                <input type="hidden" class="form-control contact-us-input" placeholder="Name your footer page" name="currentTabForUpdate" id="currentTabForUpdate" value=@CurrentTab>
                            </div>
                            <label for="input-name" class="footer-configuration-label" name="rar" id="random3">Content</label>
                            <textarea id="contentChangeForUpdate" style="width: 100%" name="contentChangeForUpdate" >
 
                </textarea>
                            <div class="row justify-content-between align-items-center p-3">

                                <p class="col footer-configuration-required align-self-center">All fields are required<sup>*</sup></p>
                                <div class="col row align-items-center">
                                    <a class="col footer-configuration-cancel-link" asp-area="" asp-controller="Footer" asp-action="FooterConfiguration" asp-route-itemName=@ItemName asp-route-currentTab=@CurrentTab>Cancel</a>
                                    <button type="submit" class="btn btn-danger col footer-configuration-button" value="Save">Save</button>
                                </div>
                            </div>
                        </div>
                        <script src="https://cdn.tiny.cloud/1/7vvvgt6qrnr0wyn4j126umosqc6ti0055lsi3j1reg6gjy39/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

                        <script>
    tinymce.init({
        selector: 'textarea#contentChangeForUpdate',
        setup: function (editor) {
            editor.on('init', function (e) {
                editor.setContent('@Html.Raw(@footerItemsForConfiguration.GetSingleItem(ItemName).Content)');
            })
        },
        height: 426,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'formatselect | ' +
            'bold italic underline | forecolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'

    });
                        </script>
                    }
                }
            </div>
        </div>
    </div>

    @* Pop-up for adding item *@
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-0 p-4">
                @using (Html.BeginForm("AddItem", "Footer", FormMethod.Post))
                {
                    <div class="modal-body">
                        <h5 class="modal-title footer-configuration-modal-header text-center" id="exampleModalLabel">Add new footer page</h5>
                        <div class="form-group">
                            <label for="input-name" class="footer-configuration-modal-label">Name</label>
                            <input type="text" class="form-control footer-configuration-modal-input" placeholder="Name your footer page" name="itemNameForAdd" id="itemNameForAdd">
                            <input type="hidden" class="form-control" placeholder="Name your footer page" name="currentTabForAdd" id="currentTabForAdd" value=@CurrentTab>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="footer-configuration-cancel-link p-2" data-dismiss="modal" href="#">Cancel</a>
                        <button type="submit" class="btn btn-danger footer-configuration-button p-2" value="Add">Add</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <script>
        function f17() {
            var element = document.getElementsByClassName('tox-statusbar')[0];
            element.style.display = "none";
            element.style.zIndex = "-2";
        }
    </script>
</body>

